<div ng-controller="SidebarController as vm">
  <ht-sidebar when-done-animating="vm.sidebarReady()">
    <div class="sidebar-filler"></div>
    <div class="sidebar-inner">
      <div class="sidebar-widget"></div>
      <ul class="nav navbar-nav">
        <li class="hvr-sweep-to-bottom" ng-class="vm.isCurrent(r)" ng-repeat="r in vm.navRoutes" >
          <a ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a>
        </li>
        <li class="hvr-sweep-to-bottom"><a href="" ng-click="vm.openModal()">Login</a></li>
        <!--FACEBOOK-->
        <li><a class="hvr-sweep-to-bottom" target="_self" href="http://localhost:3000/auth/facebook"><img src="../../../../build/images/facebook-logo.png" alt="Sign In Facebook"/></a></li>
        <!--twitter-->
        <li><a class="hvr-sweep-to-bottom" target="_self" href="http://localhost:3000/auth/twitter"><img src="../../../../build/images/twitter-logo.png" alt="Sign In Twitter"/></a></li>
        <!-- User auth info -->
        <li id="userAuthInfo" ng-show="$root.authUser">
            <!-- <a>Welcome <img src="{{vm.authUser.user.photoURL}}" /> {{ vm.authData.name}}</a> -->
            <a><img src="{{$root.authUser.photos[0].value}}" /> Welcome  {{ $root.authUser.name}}</a>
        </li>
        <li id="logoutButton" ng-show="$root.authUser">
            <a target="_self" href="http://localhost:3000/logout"><span class="fa fa-sign-out"></span>Logout</a>
        </li>
      </ul>
    </div>
  </ht-sidebar>
</div>
